
@font-face {
    font-family: "mKeleti";
    src: url("res/Keleti-Regular.ttf");
  }


body {
    font-family: 'mKeleti', sans-serif;
    text-align: center;
    color: white;
    background-image: url('res/back_doow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	 justify-content: center;
}

h1 {
    color: white;
    font-size: 40px;
    text-shadow: black 1px 0 10px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.card {
    width: 110px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform:  scale(1.0) rotateY(180deg);
    
}

.card-dead {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-image: url('res/card_dead.png');
    background-size: cover;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



.card-front {
    background-image: url('res/back.png');
    background-size: cover;
}

.card-front:hover {
    background-image: url('res/back_select.png');
    background-size: cover;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-back {
    background-size: cover;
    transform: rotateY(180deg);
}


.reboot {
    
    font-size: 30px;
    color: black;
    font-family: 'mKeleti', sans-serif;
    text-align: center;
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('res/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.reboot:hover {
    color: rgb(0, 255, 210);
    background-image: url('res/button_select.png');
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  .game-board {
    grid-gap: 8px;
  }

  .card {
    width: 90px;
    height: 140px;
  }

  .reboot {
    font-size: 20px;
    width: 150px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .game-board {
    grid-gap: 5px;
  }

  .card {
    width: 70px;
    height: 110px;
  }

  .reboot {
    font-size: 18px;
    width: 120px;
    height: 35px;
  }
}