
@font-face {
    font-family: "mKeleti";
    src: url("res/Keleti-Regular.ttf");
  }


body {
    font-family: 'mKeleti', sans-serif;
    text-align: center;
    color: white;
    background-image: url('res/back_doow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	justify-content: center;
	background-attachment: fixed; 

}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: black 1px 0 10px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-gap: 50px;
    justify-content: center;
    margin: 10px auto;
	width: 100%;
    height: 100%;
	align-items: center;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform:  scale(1.0) rotateY(180deg);
    
}

.card-dead {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-image: url('res/card_dead.png');
    background-size: cover;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



.card-front {
    background-image: url('res/back.png');
    background-size: cover;
}

.card-front:hover {
    background-image: url('res/back_select.png');
    background-size: cover;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-back {
    background-size: cover;
    transform: rotateY(180deg);
}


.reboot {
    
    font-size: 50px;
    color: black;
    font-family: 'mKeleti', sans-serif;
    text-align: center;
    width: 350px;
    height: 200px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('res/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.reboot:hover {
    color: rgb(0, 255, 210);
    background-image: url('res/button_select.png');
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


